<!-- html--> 

  <link href="assets/css/screen.css" rel="stylesheet" text="text/css">

  <div id="box">
    <p>click me!</p>
  </div>

  <div id="help"></div>
  <script src="assets/js/script.js"></script>

